<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>Servlets.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addcpu</servlet-name>
        <servlet-class>Servlets.Addcpu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addgpu</servlet-name>
        <servlet-class>Servlets.Addgpu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addchipsets</servlet-name>
        <servlet-class>Servlets.Addchipsets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/InciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Cerrarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addcpu</servlet-name>
        <url-pattern>/Addcpu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addgpu</servlet-name>
        <url-pattern>/addgpu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addchipsets</servlet-name>
        <url-pattern>/Addchipsets</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
